{% extends 'elk/base.html' %}
{% load i18n %}
{% load djmoney %}
{% load humanize %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Your payments' %}</h1>
</div>

{% if user.crm.payments.count %}
    <div class="table-responsive">
        <table class="payments-history table table-striped">
            <thead>
                <tr>
                    <th class="payments-history__first-column">{% trans '#' %}</th>
                    <th class="payments-history__date-column">{% trans 'Purchase date' %}</th>
                    <th class="payments-history__product-column">{% trans 'Product' %}</th>
                    <th class="payments-history__price-column">{% trans 'Price' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for payment in user.crm.payments.all %}
                <tr>
                    <th class="payments-history__first-column">{{ forloop.counter }}</th>
                    <td class="payments-history__date-column">{{ payment.time | naturalday:"SHORT_DATE_FORMAT" | capfirst }}, {{ payment.time | time:"SHORT_TIME_FORMAT" }}</td>
                    <td class="payments-history__product-column">{{ payment.product.name_for_user }}</td>
                    <td class="payments-history__price-column">{% money_localize payment.price %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>{% trans "You don't have any payments yet. <a href=\"/\">Choose</a> a first one." %}</p>
{% endif %}
{% endblock %}
