@import 'nib'

.calendar__teacher-selector
    relative: top -3px
    button.btn
        border: none
        font-size: 36px
        font-weight: 500
        line-height: 1.1  // like bootstrap's h1
        padding: 0
        width: auto
        &:focus
            outline: none !important


    span.filter-option
        border-bottom: dotted 1px
        outline: none

    span.caret
        display: none
