{% extends 'hub/schedule_popup/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load hub.schedule_popup %}

{% block content %}
<div class="row schedule-popup__filters">
    <div class="col-md-8 lesson_type">
        <div class="btn-group" data-toggle="buttons">
            {% lesson_type_filter user.crm.classes.bought_lesson_types %}
        </div>
    </div>
    <div class="col-md-4 schedule-popup__date-selector">
        <div class="form-group">
            <select name="date" class="selectpicker">
                {% for d in user.crm.classes.dates_for_planning %}
                    <option value="{{ d|date:'Y-m-d' }}">{{ d|date:'F, j' }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="schedule-popup__content">
    <div rv-each-teacher="model.teachers" class="row schedule-popup__record">
        <div class="col-md-1">
            <img class="img-circle" rv-if="teacher.profile_photo" rv-src="teacher.profile_photo">
            <img class="img-circle" rv-unless="teacher.profile_photo" src="{% static 'no-photo.jpg' %}">
        </div>
        <div class="col-md-5 teacher">
            <h5 rv-text="teacher.name"></h5>
            <p rv-text="teacher.description"></p>
        </div>
        <div class="col-md-6 slots">
            <div class="btn-group" data-toggle="buttons">
                <label rv-each-slot="teacher.slots" class="btn btn-default">
                    <input class="schedule-popup__time-selector" type="radio" rv-name="slot.id" rv-data-teacher="slot.teacher" rv-data-time="slot.time" rv-data-lesson="model.lesson_type" rv-data-date="model.date"></input>
                    <span rv-text="slot.time"></span>
                </label>
            </div>
        </div>
    </div>
    <div rv-unless="model.loaded" class="row">
        <div class="col-md-12 schedule-popup__not-loaded">
            <p class="text-muted not-found">{% trans 'No lessons found ¯\_(ツ)_/¯. Please check another date.' %}</p>
        </div>
    </div>
</div>
{% endblock %}
