{% load bootstrap %}
{% load i18n %}

<div class="panel panel-default timeline-entry-form">
    <div class="panel-heading"><h3 class="panel-title">{% trans 'Timeline event' %}</h3></div>
    <div class="panel-body">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ field }} — {{ error }}
            {% endfor %}
        {% endfor %}
        <form method = "POST" class="form"  action="{% url 'timeline:timeline_create' username=teacher.user.username %}" data-lessons="{% url 'lessons:available_json' username=teacher.user.username %}">
            <input type="hidden" id="teacher" name="teacher" value="{{ teacher.pk }}">
            {% csrf_token %}
            <div class="timeline-entry-form__lesson">
                {{ form.lesson_type | bootstrap }}
                {{ form.lesson_id | bootstrap }}
            </div>
            <div class="timeline-entry-form__time">
                {{ form.start | bootstrap }}
                <div class="form-group">
                    <label for="id_duration">{% trans 'Duration'%}:</label>
                    <input readonly maxlength=5 placeholder='HH:MM' type="text" class="form-control", id="id_duration" name="duration" value="{{ form.duration.value }}">
                </div>
            </div>
            <button type="submit" class="btn btn-default">{% trans 'Create entry' %}</input>
        </form>
    </div>
</div>
