.lesson-starting-soon
    img
        height: 250px
        width: 250px
        margin-bottom: 10px

    &__title
        margin-bottom: 0

    &__author
        opacity: .5
        margin-bottom: 5px

    &__slot-list
        list-style-type: none
        padding: 0