.lessons-starting-soon // container
    margin-top: 40px
    h2
        margin-bottom: 30px

.lesson-starting-soon
    display: inline-block
    margin-right: 50px
    min-height: 380px
    vertical-align: top

    img
        margin-bottom: 10px

    &__title
        margin-bottom: 0

    &__author
        opacity: .5
        margin-bottom: 5px

    &__timeslots
        list-style-type: none
        padding: 0