{% extends "mail_templated/base.tpl" %}
{% load humanize %}

{% block subject %}
Проверка сабжекта для {{username}}
{% endblock %}

{% block html %}
  <p>Hi {{ full_name }},</p>

  <p>You just signed up for my website, using:
      <dl>
        <dt>username</dt><dd>{{ username }}</dd>
        <dt>join date</dt><dd>{{ register_date }}</dd>
        <dt>Current time</td><dd> {{ time|date:"d.m.Y H:i" }}</dd>
        <dt>Current time in russian (should be in english)</td><dd>{{ time|naturalday }}</dd>
      </dl>
  </p>

  <p>Thanks, you rock!</p>
{% endblock %}
