.teacher-detail
    &__intro
        margin-bottom: 50px

    &__timeslots
        >h2
            margin-bottom: 30px

    &__timeslot-group
        h3
            margin: 0

        .date, .slots
            padding-top: 10px
            vertical-align: top
            min-height: 130px
            border-bottom: solid 1px rgba(0, 0, 0, .3)

        .date
            min-width: 170px


    &__timeslot-group + &__timeslot-group
        margin-top: 20px
