.payments-history
    max-width: 500px

    &__price-column
        width: 80px
        min-width: 80px

    &__date-column
        width: 160px
        min-width: 160px

    &__product-column
        white-space: nowrap
