@import 'nib'

.timeline-entry-popup
    .modal-body
        min-height: 350px

    &__lesson-photo
        float: left
        margin-right: 25px

    &__head
        margin-bottom: 20px

    &__start,
    &__students
        margin-bottom: 0

    &__author
        relative: top -5px
        margin-bottom: 5px
        img, p
            display: inline

        p
            margin-left: 5px

    &__start
        font-weight: bold
