.timeline-entry-popup
    .modal-body
        min-height: 350px

    &__lesson-photo
        float: left
        margin-right: 20px

    &__author
        margin-bottom: 0
    &__start
        font-weight: bold