<div class="row">
    <div class="col-md-8">
        <p class="lead">Welcome to the the dashboard!</p>
        <p>
            {% block trial_message %}
             Dashboard is a place where you can see interseting staff that is happening right now in the ELK world.
            We've just powered on your <strong>first trial lesson</strong>, you can
            <a href="#" class="pseudo load_schedule_popup" data-toggle="modal" data-target=".schedule-popup-container">plan it</a>
            for any convenient time.
            {% endblock %}
        </p>
        <p>
            If you have any questions, please drop a line to Fedor at <a class="pseudo" href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a>.
        </p>
    </div>
    <div class="col-md-4">
        {% include 'market/_next_lesson.html' %}
    </div>
</div>
