{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-1"></div>
    <div class="col-md-6">
        <div class="social-login">
            <a class="btn btn-block btn-social btn-lg btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                <span class="fa fa-google"></span>
                Sign in with Google
            </a>

            <a class="btn btn-block btn-social btn-lg btn-facebook" href="{% url 'social:begin' 'facebook-oauth2' %}">
                <span class="fa fa-facebook"></span>
                Sign in with Facebook
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-1"></div>
</div>
{% endblock %}
