{% extends 'acc/profile.html' %}

{% block form %}
<div class="customer-profile">
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form.errors }}
        <div class="customer-profile__intro">
            <div class="field">
                <label for="customer-profile__name">Name</label>
                <span id="customer-profile__name">{{ object.full_name }}</span>
            </div>
            <div class="field">
                <label for="customer-profile__email">Email</label>
                <span id="customer-profile__email"><a href="mailto:{{ object.user.email }}">{{ request.user.email }}</a></span>
            </div>
            <div class="field">
                <label for="{{ form.birthday.id_for_label }}">Birthday</label>
                <input type="hidden" name="birthday" value="{{ form.birthday.value|date:'c' }}">
                <span>
                    {% if form.birthday.value %}
                        <em class="customer-profile__birthday">{{ object.birthday }}</em>
                        <a href="#" class="pseudo change-birthday">change</a>
                    {% else %}
                        <em class="customer-profile__birthday">Unkonwn, </em>
                        <a href="#" class="pseudo change-birthday">set</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <div class="customer-profile__form">
            <div class="form-group">
                <label class="required" for="{{ form.skype.id_for_label }}">Skype id *</label>
                <input type="text" class="form-control" name="skype" required id="{{ form.skype.id_for_label }}" value="{{ form.skype.value }}" placeholder="Enter your skype id">
            </div>

            <div class="form-group">
                <label for="{{ form.timezone.id_for_label }}">Timezone:</label>
                {{ form.timezone }}
            </div>

        </div>

        <input class="btn btn-primary disabled" type="submit" value='Change'>
    </form>
</div>
{% endblock %}
