.homepage-big-blue-button
    margin-top: 25px
    small
        display: block
        margin-top: 5px

@media (max-width: 768px)
    .homepage-disclaimer
        display: none

section.active-teachers
    margin-top: 50px

    h3
        margin-bottom: 30px
