@import 'nib'

.login-jumbotron
    display: flex
    align-items: center
    height: 100vh

    &__benefit
        margin-bottom: 35px

    &__message
        relative: top -50px

    &__buttons
        relative: top -5px

    h1, h5, p
        color: #333300

    a+a
        margin-left: 5px

.staff-login
    position: fixed
    top: 97vh
    left: 98vw
    opacity: .3

body.fancy-login
    background-image: url(static + 'acc/fancy-login.jpg')
    @media all and (-webkit-min-device-pixel-ratio: 1.5)
        background-image: url(static + 'acc/fancy-login@2x.jpg')
    // there is a bug in nib, see https://github.com/tj/nib/issues/255
    background-size: cover
