@import 'nib'

.login-jumbotron
    display: flex
    align-items: center
    height: 100vh

    &__benefit
        margin-bottom: 35px

    &__message
        relative: top -50px

    &__buttons
        relative: top -5px

    a+a
        margin-left: 5px

.staff-login
    position: fixed
    top: 97vh
    left: 98vw
    opacity: .3
