@import 'nib'

.subscription
    &__curated-lessons
        margin-top: 40px
        padding-bottom: 100px

    &__curated-lessons, &__briefs, &__individual-program
        font-size: 16px

    &__footnote
        text-align: center
        margin-top: 20px
        >p
            relative: left -40px
            font-size: 12px

.subscription-brief
    border-collapse: separate
    border-spacing: 0 10px

    &__title
        margin-left: 45px

    &__lessons
        min-height: 290px

    &__lesson
        display: table-row
        margin-bottom: 5px
        &__count, &__name
            display: table-cell

        &__count
            width: 28px
            span:after
                content: ' x'

        &__name
            width: 170px

    &__payment
        relative: left 5px
        margin-top: 10px
        padding-left: 25px

.subscription-brief-beginners>.subscription-brief__title
    margin-left: 30px

.subscription-faces
    padding-top: 20px
    margin-top: 20px
    margin-bottom: 25px

    &__teacher
        display: inline-block
        text-align: center
        vertical-align: top
        img
            display: block
            margin-bottom: 10px

        &__announce
            display: block
            width: 250px
            font-size: 12px

    &__teacher + &__teacher
        margin-left: 90px

@media (max-width: 767px)
    .subscription
        &__footnote
            display: none

    .subscription-brief
        padding-left: 15%
        &__lessons
            min-height: unset

        & + &
            margin-top: 80px
