@import 'nib'
a.skype
    &:before
        relative: top 3px
        display: inline-block
        content: '\a0'
        width: 12px
        height: 12px
        background-image: url(static + 'i/skype.svg')
        background-repeat: no-repeat
        background-size: contain
        margin-right: 1px

.control-group.error, .control-group.warning, .control-group
    .control-label, input, .add-on
        transition: color .5s
        transition: border-color .5s
        transition: background-color .5s

.actions
    .datetimeshortcuts // hide the annoying 'today' link in action forms that use SuitDateWidget for date input
        margin-left: 5px
        a:first-of-type
            display: none

        a
            padding: 5px 5px !important

    .vDateField.input-small
        width: 105px !important
