@import 'nib'
a.skype
    &:before
        relative: top 3px
        display: inline-block
        content: '\a0'
        width: 12px
        height: 12px
        background-image: url(static + 'i/skype.svg')
        background-repeat: no-repeat
        background-size: contain
        margin-right: 1px

.control-group.error, .control-group.warning, .control-group
    .control-label, input, .add-on
        transition: color .5s
        transition: border-color .5s
        transition: background-color .5s
