@import 'nib'

.select2-selection:focus
    outline: none !important
    border-color: rgba(82, 168, 236, .8)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)

.select2-search__field
    height: 30px !important

.select2-results__option
    padding-left: 10px

.select2-results__message
    opacity: .8
