@import 'nib'

// This styles do fix non-perfect django-suit icons position in the left menu

.left-nav
    >ul>li>a>i
        relative: top -1px
        margin-right 7px

    .icon-lock
        relative: top -2px

    .icon-home
        relative: left 1px
