.btn-primary
    background-color: #262262

    outline: none !important
    &:focus
        background-color: #262262

    &:hover
        background-color: #2d4373
        transition: background-color .1s

    &:not(:hover)
        transition: background-color .2s

    &.disabled, &[disabled]
        opacity: .35
        &:hover
            background-color: #262262

body
    font-family: 'Montserrat'
    line-height: 25px

h1, h2, h3, h4, h5, h6
    font-family: 'Roboto Slab'

p.lead
    font-family: 'Roboto Slab'
    line-height: 35px

h1
    margin-bottom: 20px
