.btn-primary
    background-color: #262262

    outline: none !important
    &:focus
        background-color: #262262

    &:hover
        background-color: #2d4373
        transition: background-color .1s

    &:not(:hover)
        transition: background-color .2s

    &.disabled, &[disabled]
        opacity: .35
        &:hover
            background-color: #262262

body
    font-family: 'Montserrat'
    line-height: 25px

label
    font-weight: normal

h1, h2, h3, h4, h5, h6
    font-family: 'Roboto Slab'
    font-weight: 700

h1
    line-height: 45px

p.lead
    font-family: 'Roboto Slab'
    line-height: 35px

p
    margin-bottom: 15px

h1
    margin-bottom: 20px

h2
    margin-bottom: 15px

.page-header
    margin: 40px 0
