// place some common styles here
//
// Please, try your best to use Bootstrap styles first

body
    min-height: 640px


@media (max-width:1025px)
    .dropdown-backdrop
        display: none

a.pseudo
    color black
    border-bottom: dotted 1px
    text-decoration: none
    &:not(:hover)
        transition color .5s ease
    &:hover
        color: #337ab7 // default bootstrap for '.text-primary'
        border-color: @color

.text-primary>a.pseudo
    color inherit
    &:not(:hover)
        transition color .5s ease
    &:hover
        color: #a94442 // default bootstrap for '.text-danger'
        border-color: @color

.text-muted>a.pseudo, .text-success>a.pseudo, .text-info>a.pseudo, .text-warning>a.pseudo, .text-danger>a.pseudo
    color inherit

dl.inline
    dd
        display: inline
        font-weight bold
        &:after
            display: block
            content: ''
    dt
        display: inline-block
        margin-right: 5px
        font-weight normal
        &:after
            content: ':'

.table-no-border
    td
        border-top: none !important
        border: none !important
