// place some common styles here
//
// Please, try your best to use Bootstrap styles first

@import 'nib'

body
    min-height: 640px


@media (max-width:1025px)
    .dropdown-backdrop
        display: none

a.pseudo
    color black
    border-bottom: dotted 1px
    text-decoration: none
    &:not(:hover)
        transition color .5s ease
    &:hover
        color: #337ab7 // default bootstrap for '.text-primary'
        border-color: @color

.text-primary>a.pseudo
    color inherit
    &:not(:hover)
        transition color .5s ease
    &:hover
        color: #a94442 // default bootstrap for '.text-danger'
        border-color: @color

.text-muted>a.pseudo, .text-success>a.pseudo, .text-info>a.pseudo, .text-warning>a.pseudo, .text-danger>a.pseudo
    color inherit


a.external
    &:after
        content: "\a0\f08e"
        font: normal normal normal 12px/1 FontAwesome
        -webkit-font-smoothing: antialiased

a.skype
    &:before
        relative: top 3px
        display: inline-block
        content: '\a0'
        width: 14px
        height: 14px
        background-image: url(static + 'i/skype.svg')
        background-repeat: no-repeat
        background-size: contain
        margin-right: 2px

p.before_list
    margin-bottom: 2px

dl.inline
    dd
        display: inline
        font-weight bold
        &:after
            display: block
            content: ''
    dt
        display: inline-block
        margin-right: 5px
        font-weight normal
        &:after
            content: ':'

.table-no-border
    td
        border-top: none !important
        border: none !important

.pretty-loader
    background-image: url(static + 'i/loader.svg')
    background-repeat: no-repeat
    background-position: center

.big-blue-button
    margin-top: 25px
    small
        display: block
        margin-top: 5px
