.bootstrap-select
    .dropdown-toggle:focus
        outline: none !important

    li.no-results
        opacity: .5

@media (max-width:1025px)
    .dropdown-backdrop
        display: none

.btn-primary, .btn-default
    transition: opacity .1s ease-in  // for styling bootstrap 'enabled' and 'disabled' classes

label
    font-weight: normal
