@import 'nib'

.navbar
    background-color: #B7BBBC
    border: none
    border-radius: 0

.navbar__profile
    margin-top: 5px
    margin-bottom: 5px

    &-picture, &-username
        display: inline-block

    &-username
        max-width: 250px
        margin-left: 5px
        margin-right: 10px

    &-picture>img
        max-height: 40px

    .logout
        color: #262262
        &:hover
            color: #0000FF
            text-decoration: none

    p
        margin-bottom: 8px
.elk-logo
    padding: 4px
    margin-right: 30px
    img
        height: 100%
