@import 'nib'

.navbar
    background-color: #B7BBBC
    border: none
    border-radius: 0

.navbar-profile
    &__photo
        position: relative
        display: inline-block
        margin-right: 10px
        color: #262262
        img
            margin-right: 5px

        &.active
            color: #333  // bootstrap body color
            pointer-events: none
            .profile-needs-updating
                display: none

        .profile-needs-updating
            absolute: left 50px top 2px
            background-color: red
            min-height: 8px
            min-width: 8px
            border-radius: 8px

     a:hover
            text-decoration: none


.elk-logo
    padding: 4px
    margin-right: 30px
    img
        height: 100%

.profile-needs-updating
    position: relative
    min-height: 10px
    min-width: 10px
