@import 'nib'

.navbar__profile
    margin-top: 5px
    margin-bottom: 5px

.navbar__profile-picture, .navbar__profile-username
    display: inline-block

.navbar__profile-username
    max-width: 250px
    margin-left: 5px
    margin-right: 10px

.navbar__profile-picture>img
    border-radius: 50%
    max-height: 40px
