{% load i18n %}
{% load humanize %}

{% with next_class=request.user.crm.classes.nearest_scheduled %}
    {% if next_class %}
        <div class="next_class">
            <p class="next_class_msg">{% trans 'Next lesson is a' %} {{ next_class.lesson.type_verbose_name }}
                {% trans 'with' %} {{ next_class.timeline.teacher.user.crm.full_name }},
                <span class="next_class__date">{{ next_class.timeline.start | naturalday:'SHORT_DATE_FORMAT' | capfirst }}
                {% trans 'at' %} {{ next_class.timeline.start | time:'SHORT_TIME_FORMAT'}}</span>
                <a class="pseudo next_class__reschedule" href='#'>{% trans 'reschedule'|capfirst %}</a> {% trans 'or'%} <a class="pseudo ext_class__cancel" href='#'>{% trans 'cancel' %}</a> it.</p>
        </div>
    {% endif %}
{% endwith %}
