{% extends "mail_templated/base.tpl" %}
{% load humanize %}

{% block subject %}
Your {{ c.timeline.event_title }} is cancelled :(
{% endblock %}

{% block body %}
Dear {{ c.customer.first_name | capfirst }},

{% if src == 'customer' %}You've{% else %}We've{% endif %} cancelled your {{ c.timeline.event_title }}
planned for {{ c.timeline.start | naturalday:'SHORT_DATE_FORMAT'}}, {{ c.timeline.start | time:'TIME_FORMAT'}}.

{% if src != 'customer' %}Sorry for that :({% endif %}

If you have any questions — simply reply to this message and we'll help you.

{% include 'mailer/_signature.html' %}
{% endblock %}
