{% for lesson_type in request.user.crm.classes.hosted_lessons_starting_soon %}
    {% if lesson_type.lessons %}
        <h2>{{ lesson_type.lesson_type_name }} lessons starting soon</h2>
        <div class="lessons-starting-soon">
        {% for lesson in lesson_type.lessons %}
            <div class="lesson-starting-soon">
                <img class="lesson" src="{{ lesson.get_photo }}" />
                <p class="lesson-starting-soon__title">{{ lesson.name }}</p>
                <p class="lesson-starting-soon__author">{{ lesson.host.user.crm.full_name }}</p>
                <div class="lesson-starting-soon-timeslots">
                {% for timeline_entry in lesson.get_timeline_entries %}
                    <a href="#" class="lesson-starting-soon-entry load-timeline-entry-popup" data-entry-id="{{ timeline_entry.pk }}">
                        {{ timeline_entry.start | date:"SHORT_DATETIME_FORMAT" }}
                    </a>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}