@import 'nib'

.schedule-popup
    width: 800px

    .modal-body
        min-height: 480px
        max-height: 480px

    &__content
        max-height: 400px
        min-height: 400px
        overflow-y: scroll
        padding-top: 20px
        padding-bottom: 10px

    &__record
        margin-bottom: 15px

    .teacher
        h5
            margin-top: 0
    .slots
        margin-left: -20px

    .date_selector .bootstrap-select
        max-width: 150px

    &__not-loaded
        height: 340px
        text-align: center
        .not-found
            relative: top 50%
            transform: translateY(-50%)
