@import 'nib'

.user-calendar
    margin-bottom: 250px  // spare space for the popup
    &__add-popup
        position: absolute
        z-index: 100
        width: 300px

    &__close_popup
        relative: top -2px

    a.fc-event
        cursor: pointer
        &:hover
            color: #333
            background-color: #dff0d8 // like bg-success
            border-color: #dff0d8
        &:not(:hover)
            transition: ease-out .1s

.timeline-entry-form
    &__time
        .form-group:first-child
            margin-left: 32px

        label[for=id_start_0] + input
            margin-left: 5px

        .form-group:first-child
            margin-bottom 5px

        #id_start_0
            display: inline
            width: 100px

        #id_start_1
            display: inline
            margin-left: 5px
            width: 80px

        #id_duration
            display: inline
            margin-left: 5px
            width: 75px

        label[for=id_duration]
            display: inline
            margin-left: 8px

    &__lesson
        margin-bottom: 25px

        .form-group:first-child
            margin-bottom 5px

        #id_lesson_id, #id_lesson_type
            max-width: 260px

    &__slots
        display: inline
        a
            padding 10px 10px 10px 5px
            color black
            &:hover
                color: #337ab7
            &:not(:hover)
                transition color .5s ease

    &__submit
        relative: left -3px
        display: inline
        margin-right: 2px

    &__delete, &__add-a-student
        display: inline

    &__err
        display: inline
        margin-left: 5px

    .ui-timepicker-wrapper
        z-index: 200
