{% extends 'admin/base.html'%}
{% load admin_static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'css/admin.css' %}?rev={{ REVISION }}">
{% endblock %}


{% block suit_jquery %}
<!-- Please checkout this version if you've updated django-suit -->
<script src="{% static 'suit/js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript">
    var django = django || {};
    django.jQuery = jQuery;
</script>
{% endblock %}

{% block extrajs %}
<script src="{% static 'vendor/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}?rev={{ REVISION }}"></script>
{% endblock %}
