@import nib
.next_class
    &__actions
        margin-top: 5px

    &__msg, &__sign
        display: inline

    &__msg
        margin-bottom: 5px

    &__skype
        margin-top: 10px

    &__sign
        color: #3c763d // 'success' color from bootstrap
        absolute: left -4px top 4px;

    @media (max-width: 768px)
        display: block
        margin-top: 25px
        padding-top: 25px
        border-top: 1px solid rgba(0, 0, 0, .1)
        &__sign
            display: none
