@import nib
.next_class
    &__actions
        margin-top: 5px

    &__msg, &__sign
        display: inline

    &__msg
        margin-bottom: 5px

    &__sign
        color: #3c763d // 'success' color from bootstrap
        absolute: left -4px top 3px;
