{% extends 'timeline/forms/entry/base.html' %}
{% load i18n %}
{% load format_entry_date %}

{% block form %}
        <form method = "POST" class="form"  action="{% url 'timeline:timeline_create' username=teacher.user.username %}">
            <input type="hidden" id="teacher" name="teacher" value="{{ teacher.pk }}">
            {% csrf_token %}
            <div class="timeline-entry-form__lesson">
                <div class="form-group">
                    <select required name="lesson_type" id="{{ form.lesson_type.id_for_label }}" class="form-control" title="Event type">
                    {% for lesson_type in teacher.allowed_lessons.all %}
                        <option value = "{{ lesson_type.pk }}">{{ lesson_type.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select required name="lesson_id" id="{{ form.lesson_id.id_for_label }}" class="form-control" title="Choose a lesson">
                        <option rv-each-lesson="model.lessons" rv-value="lesson.id" rv-text="lesson.name"></option>
                    </select>
                </div>
            </div>
            <div class="timeline-entry-form__time">
                <div class="form-group" rv-class-has-error="model.has_err">
                    <label for="id_start_0">{% trans 'Start:' %}</label>
                    {{ form.start | format_entry_date}}
                </div>
                <div class="form-group">
                    <label for="id_duration">{% trans 'Duration'%}:</label>
                    <input readonly maxlength=5 placeholder='00:30' type="text" class="form-control", id="id_duration" name="duration" rv-value="model.lesson.duration">
                    {% include 'timeline/forms/entry/err.html' %}
                </div>
            </div>
            <button type="submit" class="btn btn-default">{% trans 'Create' %}</input>
        </form>
{% endblock %}
