{% extends 'timeline/forms/entry/base.html' %}
{% load i18n %}
{% load format_entry_date %}

{% block form %}
        <form method = "POST" class="form"  action="{% url 'timeline:timeline_update' username=teacher.user.username pk=object.pk %}">
            <input type="hidden" id="teacher" name="teacher" value="{{ teacher.pk }}">
            <input type="hidden" id="initial_lesson" value="{{ form.lesson_id.value }}">
            {% csrf_token %}
            <div class="timeline-entry-form__lesson">
                <div class="form-group">
                    <select name="lesson_type" id="{{ form.lesson_type.id_for_label }}" class="form-control" title="Event type">
                    {% for lesson_type in teacher.allowed_lessons.all %}
                        <option value = "{{ lesson_type.pk }}">{{ lesson_type.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="lesson_id" id="{{ form.lesson_id.id_for_label }}" class="form-control" title="Choose a lesson">
                        <option rv-each-lesson="model.lessons" rv-value="lesson.id" rv-text="lesson.name" rv-selected="lesson.selected"></option>
                    </select>
                </div>
            </div>
            <div class="timeline-entry-form__time">
                <div class="form-group" rv-class-has-error="model.has_err">
                    <label for="id_start_0">{% trans 'Start:' %}</label>
                    {{ form.start | format_entry_date}}
                </div>
                <div class="form-group">
                    <label for="id_duration">{% trans 'Duration:' %}</label>
                    <input readonly maxlength=5 placeholder='HH:MM' type="text" class="form-control", id="id_duration" name="duration" rv-value="model.lesson.duration">
                    {% include 'timeline/forms/entry/err.html' %}
                    {% if object.taken_slots %}
                        <p class="timeline-entry-form__slots">
                            {% if object.slots != 1 %} {# multiple students #}
                                <a href = "{{ object.admin_url }}" title="{{ object.taken_slots }}/{{ object.slots }}"><i class="fa fa-users" aria-hidden="true"></i></a>
                            {% else %} {# for a single student #}
                                <a href = "{{ object.admin_url }}" title="{{ object.classes.all.0.customer.full_name }}"><i class="fa fa-user" aria-hidden="true"></i></a>
                            {% endif %}
                        </p>
            {% endif %}
                </div>
            </div>
            <button type="submit" class="btn btn-default timeline-entry-form__submit">{% trans 'Update' %}</button>
            {% if not object.taken_slots %}
                <p class="timeline-entry-form__add-a-student"><a href="{{ object.admin_url }}">add a student</a>,</p>
            {% endif %}
            <p class="timeline-entry-form__delete">or <a class="text-danger" href="{% url 'timeline:timeline_delete' username=teacher.user.username pk=object.pk %}">delete</a> it.</p>
        </form>

{% endblock %}
