.subscription-status
    td:first-child
        width: 1%
        white-space: nowrap
        padding-right: 10px
        text-align: right
        p:after
            content: ':'
    p
        margin: 0
    .progress
        margin-bottom: 0
