.subscription-status
    td:first-child
        width: 1%
        white-space: nowrap
        padding-right: 10px
        text-align: right
        p:after
            content: ':'

    td.&__title
        padding-right: 5px

    td.&__status
        padding-left: 0

    &__progress
        max-width: 200px

    p
        margin: 0
    .progress
        margin-bottom: 0
