{% load i18n %}
<section class="row subscription__briefs">
    <div class="col-md-3 col-md-offset-3 subscription-brief">
        <h3 class="subscription-brief__title">Basic</h3>
        <div class="subscription-brief__lessons">
            {% for lesson_type in product1.lessons %}
            <div class="subscription-brief__lesson">
                <div class="subscription-brief__lesson__count"><span>{{ lesson_type.count }}</span></div>
                <div class="subscription-brief__lesson__name">
                    {% if lesson_type.count > 1 %} {{ lesson_type.first.long_name_plural }} {% else %} {{ lesson_type.first.long_name }} {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="subscription-brief__payment">
            {% include 'acc/greetings/_partial/paypal/basic-150.html' %}
        </div>
    </div>
    <div class="col-md-3 subscription-brief">
        <h3 class="subscription-brief__title">Beginners</h3>
        <div class="subscription-brief__lessons">
            {% for lesson_type in simple_subscription.lessons %}
            <div class="subscription-brief__lesson">
                <div class="subscription-brief__lesson__count"><span>{{ lesson_type.count }}</span></div>
                <div class="subscription-brief__lesson__name">
                    {% if lesson_type.count > 1 %} {{ lesson_type.first.long_name_plural }} {% else %} {{ lesson_type.first.long_name }} {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="subscription-brief__payment">
            {% include 'acc/greetings/_partial/paypal/beginners-150.html' %}
        </div>
    </div>
</section>
