{% load navbar_tags %}
{% load static %}
<nav class="navbar navbar-default navbar-collapse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand elk-logo" href="/"><img src="{% static 'i/logo.svg' %}" alt="ELK Dashboard"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <!-- li class="{% is_active request '^/teachers/' %}"><a href="{% url 'teachers:list' %}">Teachers</a></li -->
                <li class="{% is_active request '^/market/mylessons/' %}"><a href="{% url 'market:customer_lessons'%}">
                    Lessons</li>
                {% if request.user.teaching_data %}
                    <li class="{% is_active request '^/timeline/' %}"><a href="{% url 'timeline:timeline' username=request.user.username %}">Timeline</a></li>
                {% endif %}
            </ul>

        <div class="navbar-right navbar__profile">
            {% include 'elk/header/profile.html' %}
        </div>

    </div>
</nav>
