{% load navbar_tags %}
<nav class="navbar navbar-default navbar-collaps">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ELK Dashboard</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="{% is_active request '^/history/payments' %}"><a href="{% url 'history:payments' %}">Payments</a></li>
                {% if request.user.is_staff %}
                    <li class="{% is_active request '^/timeline/' %}"><a href="{% url 'timeline:timeline' username=request.user.username %}">Timeline</a></li>
                {% endif %}
            </ul>

        <div class="navbar-right navbar__profile">
            {% include 'elk/header/profile.html' %}
        </div>

    </div>
</nav>
