{% extends "mail_templated/base.tpl" %}
{% load i18n %}
{% load humanize %}

{% block subject %}
{{ c.customer.first_name | capfirst }}, your {{ c.timeline.lesson.type_verbose_name }} is about to start!
{% endblock %}

{% block body %}
{% trans 'Dear' %} {{ c.customer.first_name | capfirst }},

It's a reminder about your {{ c.timeline.lesson.type_verbose_name }} with {{ c.timeline.teacher.user.first_name }}, which starts at {{ c.timeline.start | time:'SHORT_TIME_FORMAT'}}.

{% include 'mailer/_signature.html' %}
{% endblock %}
