.issue-form
    height: 420px
    .modal-header, .modal-body, .form-group
        padding-bottom: 0
        margin-bottom: 0
        margin-top: 0

    .modal-header, .modal-footer
        border: 0
        h3
            margin: 0

    .modal-footer
        padding-top: 0

    &__body, .pretty-loader
        min-height: 125px


    .modal-body
        min-height: 155px

    &__thanks
        h3
            margin-top: 5px
        p
            margin-bottom: 0
