{% load contact_us %}
<div class="row">
    <div class="col-md-12">
        <h1>{% block title %}Hi, {{ request.user.first_name | capfirst }}!{% endblock %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        {% block lead %}
        <p class="lead">Welcome to the ELK dashboard!</p>
        {% endblock %}
        {% block message %}
        <p>
         Dashboard is a place, where you can see interseting staff that is happening right now in the ELK world,
         plan a lesson or review your ELK subscription status.
        </p>
        {% endblock %}

        {% block disclaimer %}
        <p class="homepage-disclaimer">We want to develop this tool together with you, so we've launched
            the pre-production version and started keeping track of all your lesosns.
            Please be patient for some bugs, and feel free to
            {% contact_us 'drop us a line' 'pseudo' %} if you fill something goes wrong.
        </p>
        {% endblock %}

    </div>
    <div class="col-md-4">
        {% block next_lesson %}
            {% include 'market/_next_lesson.html' %}
        {% endblock %}
    </div>
</div>

{% block call_to_action %}
<div class="row homepage-big-blue-button">
    <div class="col-md-12 text-center">
        {% if request.user.crm.classes.nearest_scheduled %}
            <button class="btn btn-primary btn-lg load_schedule_popup" data-toggle="modal" data-target=".schedule-popup-container">Plan another lesson</button>
        {% else %}
            <button class="btn btn-primary btn-lg load_schedule_popup" data-toggle="modal" data-target=".schedule-popup-container">Plan a lesson</button>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
