<div class="row">
    <div class="col-md-12">
        <h1>{% block title %}Hi, {{ request.user.first_name | capfirst }}!{% endblock %}</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        {% block lead %}
        <p class="lead">Welcome to the alpha-version of the dashboard!</p>
        {% endblock %}
        {% block message %}
        <p>
         Dashbaord is a place, where you can see interseting staff that is happening right now in the ELK world,
         plan a lesson or review you ELK subscription status.
        </p>
        {% endblock %}

        {% block disclaimer %}
        <p>We want to develop this tool together with you, so we've launched
            the pre-production version and started keeping track of all your lesosns.
            Please be patient for some bugs, and feel free to
            <a class="pseudo" data-toggle="modal" data-target="#issue-popup" href="#">drop us a line</a>.
        </p>
        {% endblock %}

    </div>
    <div class="col-md-4">
        {% block next_lesson %}
            {% include 'market/_next_lesson.html' %}
        {% endblock %}
    </div>
</div>

{% block call_to_action %}
<div class="row home-page-big-blue-button">
    <div class="col-md-12 text-center">
        {% if request.user.crm.can_schedule_classes %}
        <button class="btn btn-primary btn-lg load_schedule_popup" data-toggle="modal" data-target=".schedule-popup-container">Plan a lesson</button>
        {% else %}
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="issue-popup">Contact Fedor to redeem lessons</button>
        <small>You'll be able to book your lessons right after that</small>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
