{% load i18n %}
<section class="row subcription__greeting">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{% trans 'More lessons'%}</h1>
        </div>
        <p class="lead">
            Our ELK Academy subscriptions include 10 lessons.
            Individual lessons last 30 minutes, and lessons in groups or pairs last 45 minutes.
        </p>
        <p class="lead">
            Subscription price is {{ product1_tier.name }}.
        </p>
    </div>
</section>

{% include 'acc/greetings/_partial/briefs.html' %}

{% include 'acc/greetings/_partial/curated-lessons.html' %}
