{% extends 'acc/greetings/_base.html' %}


{% block title %}
{{ request.user.first_name | capfirst }}, your trial lesson is ready
{% endblock %}

{% block lead %}
<p class="lead">
    You can <a href="#" class="pseudo load_schedule_popup" data-toggle="modal" data-target=".schedule-popup-container">schedule</a>
    it with your curator for any time.
</p>
{% endblock %}

{% block message %}
<p>
We've just powered on your trial lesson. For scheduling it, press the big button out there (↓↓) and choose your curator. If you don't know what curator to choose, check out our <a class="external" href="http://www.elk.today/blog">blog</a>.
</p>
{% endblock %}

{% block disclaimer %}
{% endblock %}
{% block next_lesson %}
{% endblock %}
