{% extends 'elk/boilerplate.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block body-class %}
{% endblock %}

{% block navbar %}
{% include 'elk/header/navbar.html' %}
{% endblock %}

{% block container %}
    <div class="container">
            {% block content %}
            {% endblock %}
    </div>
    {% include "market/schedule_form.html" %}
    {% include "market/cancel_form.html" %}
    {% include "crm/issue_form.html" %}
{% endblock %}

{% block basejs %}
<script type="text/javascript">
    Project.helpers.stripe_pk = function(){ return "{{ STRIPE_PK }}";}
</script>
{% endblock %}

{% block js %} {# pages can require custom javascript files defining this block #}
{% endblock %}
