.timeline-student-list
    max-width: 350px

    &__cnt
        width: 15px

    &__student
        white-space: nowrap
        text-align: left

    &__actions
        margin-left: 10px

    tr:hover &__actions
        display: inline

    tr:not(:hover) &__actions
        display: none


.timeline-entry-info
    max-width: 350px

.add-a-student
    max-width: 350px
    &__selector
        margin-right: 10px
