{% extends 'elk/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h1>Hi, {{ request.user.first_name | capfirst }}!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p class="lead">Welcome to the alpha-version of the dashboard!</p>
        <p>
         Dashbaord is a place, where you can see interseting staff that is happening right now in the ELK world{% if request.user.crm.can_schedule_classes %}
            or <a href="#" class="pseudo livesite-schedule">plan a lesson</a>.
         {% else %}. Please contact <a class="pseudo" href='mailto:{{SUPPORT_EMAIL}}?subject=Reedem my lessons'>Amanda Kinney</a> to redeem you lessons.{% endif %}
        </p>
        <p>We want to develop this tool together with you, so we've launched
            the pre-production version and started keeping track of all your lesosns.
            Please be patient for some bugs, and fill free to
            <a class="pseudo" href="mailto:{{ SUPPORT_EMAIL }}">drop us a line</a>.
        </p>
    </div>
    <div class="col-md-4">
        {% include 'market/_next_lesson.html' %}
    </div>
</div>

<div class="row home-page-big-blue-button">
    <div class="col-md-12 text-center">
        {% if request.user.crm.can_schedule_classes %}
        <a class="btn btn-primary btn-lg livesite-schedule">Plan a lesson</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href='mailto:{{SUPPORT_EMAIL}}?subject=Reedem my lessons'>Contact Amanda to redeem lessons</a>
        {% endif %}
    </div>
</div>

{% include 'market/_subscription_status.html' %}

<div class="modal fade schedule-popup-container" role="dialog">
    {% include 'market/schedule_popup/schedule_popup.html' %}
</div>

{% endblock %}
