
.dynamic-working_hours
    .field-start .datetimeshortcuts  // hide the 'now' button when filling working hours.
        display none

    .field-end .datetimeshortcuts
        display: none

    .inline_label
        display: none !important
